@charset "utf-8";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bulma";

.toolbar {
    background-color: #f5f5f5;
    padding: 10px;
    position: sticky;
    top: 50px
}


.toolbar .button {
    margin-left: 0;
    margin-right: 4px;
}

.toolbar .checkbox {
    margin-left: 0;
    margin-right: 4px;
    padding-right: 4px;
}



/* https://stackoverflow.com/questions/1455095/html-left-and-right-align-elements */
.left, .right {
    width: 50%; /* Floated elements technically need a width specified. */
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}